@import '~bootstrap/scss/bootstrap';
@import './partials/variables.scss';

body {
    background-color: $body;
}

h2 {
    color: $title;
    font-weight: 500;
    text-transform: uppercase;
}

.card {
    background-color: $card;

    span {
        color: $span;
        text-transform: uppercase;
        font-weight: 800;
        font-size: 20px;
    }

    #mycolor {
        color: $small;
        text-transform: uppercase;
        font-weight: 800;
        font-size: 20px;
    }
}